{% extends "base.html" %}
{% set active_page = 'checkout' %}
{% block title %} Checkout {% endblock %}
{% block content %}
  {% if error %}
  <p class=error><strong>Error:</strong> {{ error }}
  {% endif %}
<div class="w-50">

<table class="table table-striped">
  <thead>
    <tr>

      <th scope="col">Ordernumber</th>
      <th scope="col">Orderproduct</th>
      <th scope="col">Price</th>
      <th scope="col">Item Num</th>
      <th scope="col">order_status</th>
    </tr>
  </thead>
  <form method="post" action="/checkout">
  <tbody>
    
      {% for item in Data %}
        <tr>
          
          <td class="align-middle">{{ item['order_id'] }}</td>
          <td class="align-middle"> <img src= {{ item ["thumbnail"]  }} style="max-height:50px;max-width:50px;"> {{item['product_name']}}</td>			
          <td class="align-middle">{{ item['price_each']}}</td>
          <td class="align-middle">{{ item['product_quantity']}}
            <!-- <input class="form-check-input me-1" name="numrequest" value="1"/>  -->
            <!-- <input name="update" type="submit" value="1"/> -->
          </td>
          <td class="align-middle">{{ item['order_status']}}</td>						

        </tr>

        
          <!-- <div class="list-group">
            <label class="list-group-item"> 
                <input class="form-check-input me-1" type="checkbox" name="s_option" value="{{item['id']}}">
                {{item['product_name']}}  {{item['price_each']}} {{item['order_status']}}
            </label>
        </div> -->

      {% endfor %}
      <tr>
        <td>  <button name="submit" type="submit" value="1" class="btn btn-primary">confirm order</button></td>
        <!-- <td>  <button name="update" type="submit" value="1" class="btn btn-primary">update order</button></td>    -->
      </tr>
  </tbody>
  </form>
</table>
</div> 
 {% endblock %}
