{% extends "base.html" %} {% block title %} Sign-Up {% endblock %} {% block main %}
    
    <div class="bg-dark p-4 m-4">
        <h1 class="text-center text-white">Delivering Pizza</h1>
        <div class="w3-container w3-padding-64 w3-blue-grey w3-grayscale-min w3-xlarge" id="map">
            <div class="w3-content">
            
            <!---- I added this line for test only -->
            
            <iframe
  width="600"
  height="450"
  style="border:0"
  loading="lazy"
  allowfullscreen
  referrerpolicy="no-referrer-when-downgrade"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCmVoSe9lkdCFfsAlIpT0jIAcF-1Vkz6Bw&q=933 Market St, Tacoma, WA 98402, 3923 S 12th St, Tacoma, WA 98405" >
</iframe>
           <!--- End of the test line --->
            
            
                <h1 class="w3-center w3-jumbo" >estimated delivery time: </h1>
                <h1 class="w3-center w3-jumbo" style="margin-bottom:64px">{{time}}</h1>
    		<h1 class="w3-center w3-jumbo">{{user_add}}</h1>
                {{message}}
            </div>
        </div>
    </div>
    
    {% endblock %}
