{% extends "base.html" %}
{% set active_page = 'restaurantsaddmenu' %}
{% block title %} Restaurantsaddmenu {% endblock %}
{% block content %} 
<div class="w-50">
<form method="post">
  {{ form.csrf_token }}
  <div class="mb-3">
	<fieldset class="form-field">
		{{ form.name.label(class="form-label") }}
		{{ form.name(class="form-control") }}	
    </fieldset>
  </div>
  <div class="mb-3">
	<fieldset class="form-field">
		{{ form.price.label(class="form-label") }}
		{{ form.price(class="form-control") }} 	
    </fieldset>
  </div>
  <div class="mb-3">
	<fieldset class="form-field">
		{{ form.restaurant.label(class="form-label") }}
		{{ form.restaurant(class="form-control") }} 	
    </fieldset>
  </div>
  {{ form.submit(class="btn btn-primary") }}
</form>
</div>
 {% endblock %}
